<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>p2p.kadnode</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/kadnode</string>
		<string>--cmd-disable-stdin</string>
		<string>--dns-port</string>
		<string>53</string>
		<string>--config</string>
		<string>/etc/kadnode/kadnode.conf</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
</dict>
</plist>
