[Unit]
Description=P2P DNS service
After=network.target

[Service]
ExecStart=/usr/bin/kadnode --daemon --config /etc/kadnode/kadnode.conf
Type=forking

[Install]
WantedBy=multi-user.target
