##
## KadNode is a P2P DNS service.
##
## You need to configure dnsmasq to let it 
## resolve the .p2p domain using KadNode:
## 
## uci add_list dhcp.@dnsmasq[0].server='/p2p/::1#3535'
## uci commit dhcp
##

config kadnode
	option enabled 0

## Add domains to be announced if authentication is done via a https web server.
#	list announce 'web.myname.p2p:443'

## Folder of CA certificates
#	list tls_client_cert '/etc/credentials/'

## Server credentials
#	list tls_server_cert '/ect/mynode.crt,/etc/mynode.key'

## Secret key for public key links
#	list bob_load_key '/ect/mynode.pem'

## Load and store good nodes every 24h and on start/shutdown.
#	option peerfile '/etc/kadnode/peers.txt'

## Add static peers addresses.
#	list peer 'bttracker.debian.org:6881'
#	list peer 'router.bittorrent.com:6881'

## Bind the DHT to this port.
#	option port '6881'

## Limit DHT communication to this interface.
#	option ifname 'eth0'

## Verbosity: quiet, verbose or debug
#	option verbosity 'quiet'

## Local port to accept forwarded requests
## from a local DNS server (like dnsmasq).
#	option dns_port '3535'

##Disable multicast peer discovery on the LAN.
#	option lpd_disable '1'

##Disable port forwarding when this router is behind another
##router in a private network that supports UPnP/NAT-PMP.
#	option fwd_disable '1'
