[Unit]
Description=P2P DNS resolver
After=network.target
Documentation=man:kadnode(1)

[Service]
ExecStart=/usr/bin/kadnode --daemon --pidfile /var/run/kadnode.pid --config /etc/kadnode/kadnode.conf
KillMode=mixed
Restart=on-failure
PIDFile=/var/run/kadnode.pid
Type=forking

[Install]
WantedBy=multi-user.target
