##
## KadNode is a P2P DNS service.
##
## You need to configure dnsmasq to let it 
## resolve the .p2p domain using KadNode:
## 
## uci add_list dhcp.@dnsmasq[0].server='/p2p/::1#3444'
## uci commit dhcp
##

config kadnode
	option enabled 0

## The identifier that for this node.
## A random id is used if the option is not set.
## Any top level domain is ignored.
#	option id 'myname.p2p'

## Store good nodes on shutdown via init script.
## This is only done if we can store at least equally
## as many or more (good) nodes.
#	option save_nodes '1'

## A list of nodes to bootstrap from.
#	list node 'someserver.com:1234'
#	list node '1.2.3.4'

## Switch to a user for additional security.
#	option user 'kadnode'

## Bind the DHT to this port.
#	option port '8337'

## Limit DHT communication to this interface.
#	option ifce 'eth0'

## Listen and search for other nodes in the LAN
## on these addresses.
#	option mcast_addr4 '224.0.0.1'
#	option mcast_addr6 'ff0e::1'

## Verbosity: quiet, verbose or debug
#	option verbosity 'quiet'

## Local port to accept forwarded requests
## from a local DNS server (like dnsmasq).
#	option dns_port '3444'

## Enable IPv4/IPv6 only mode for the DHT.
#	option ipv4_only '1'
#	option ipv6_only '1'
