##
## KadNode is a P2P DNS service.
##
## You need to configure dnsmasq to let it 
## resolve the .p2p domain using KadNode:
## 
## uci add_list dhcp.@dnsmasq[0].server='/p2p/localhost#5353'
## uci commit dhcp
##

config kadnode
	option enabled 0

## Add domains to be announced
## Please check the documentation to avoid conflicts
#	list value_id 'myname.p2p'
#	list value_id 'web.myname.p2p:80'

## Associate a secret key
#	auth_add_skey myname.p2p:<public-key>

## Load and store good nodes every 24h and on start/shutdown.
#	option peerfile '/etc/kadnode/peers.txt'

## Bind the DHT to this port.
#	option port '6881'

## Limit DHT communication to this interface.
#	option ifname 'eth0'

## Verbosity: quiet, verbose or debug
#	option verbosity 'quiet'

## Local port to accept forwarded requests
## from a local DNS server (like dnsmasq).
#	option dns_port '5353'

## Enable IPv4 or IPv6 mode for the DHT.
#	option mode 'ipv4'

##Disable multicast peer discovery on the LAN.
#	option lpd_disable '1'

##Disable port forwarding when this router is behind another
##router in a private network that supports UPnP/NAT-PMP.
#	option fwd_disable '1'
