##
## KadNode is a P2P DNS service.
##
## You need to configure dnsmasq to let it 
## resolve the .p2p domain using KadNode:
## 
## uci add_list dhcp.@dnsmasq[0].server='/p2p/::1#5353'
## uci commit dhcp
##

config kadnode
	option enabled 0

## Value identifiers that will be announced every 30 minutes.
## An optional port can be added after a colon.
## Any top level domain of the identifier is ignored.
#	list value_id 'myname.p2p'
#	list value_id 'web.myname.p2p:80'

## Store good nodes on shutdown via init script.
## This is only done if we can store at least equally
## as many or more (good) nodes.
#	option save_nodes '1'

## A list of nodes to bootstrap from.
#	list node 'bttracker.debian.org:6881'

## Switch user for additional security.
#	option user 'kadnode'

## Bind the DHT to this port.
#	option port '6881'

## Limit DHT communication to this interface.
#	option ifce 'eth0'

## Listen and search for other nodes in the LAN
## on this multicast address.
#	option mcast_addr '239.192.202.7'
## For IPv6
#	option mcast_addr 'ff08:ca:07::'

## Verbosity: quiet, verbose or debug
#	option verbosity 'quiet'

## Local port to accept forwarded requests
## from a local DNS server (like dnsmasq).
#	option dns_port '5353'

## Enable IPv4 or IPv6 mode for the DHT.
#	option mode 'ipv4'
